p {
  text-align: justify;
}

.award_title {
  text-decoration: underline;
  cursor: pointer;
}

.award_subtitle {
  margin-top: 20px;
}

.img_posts {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

ul>li>img {
  margin-left: -40px;
}
